<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://blog.csdn.net/tianzhihen_wq" target="_blank" title="Hexo">My CSDN</a></li>
      <li><a href="http://butlmy.github.io/" target="_blank" title="liumengyan">Liumengyan's Blog</a></li>

    </ul>
</div>
