<div class="music">
    <p class="asidetitle"><%= __('music') %></p>
    <ul>
        <li><iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=220 height=52 src="http://music.163.com/outchain/player?type=2&id=31445554&auto=1&height=32"></iframe></li>
        <li><iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=220 height=52 src="http://music.163.com/outchain/player?type=2&id=41665696&auto=0&height=32"></iframe></li>
    </ul>
</div>